{
  "env": {
    "production": {
      "presets": [
        "react",
        "env",
        "stage-0"
      ]
    },
    "development": {
      "presets": [
        "react",
        "env",
        "stage-0",
        "react-hmre"
      ]
    }
  }
}